<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Backjeon"
        tools:targetApi="31">

        <!-- 메인 액티비티 -->
        <activity android:name="com.example.backjeon.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AI 게임 액티비티 -->
        <activity android:name="com.example.backjeon.AIGameActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- 친구 게임 액티비티 -->
        <activity android:name="com.example.backjeon.FriendGameActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- 커뮤니티 액티비티 -->
        <activity android:name="com.example.backjeon.PostActivity"
            android:theme="@style/Theme.AppCompat.Light" />

        <!-- 글작성 액티비티 -->
        <activity
            android:name="com.example.backjeon.WritePostActivity"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge" />

        <!-- 댓글작성 액티비티 -->
        <activity android:name="com.example.backjeon.PostDetailActivity"
            android:theme="@style/Theme.AppCompat.Light" />

    </application>

</manifest>
